.jobsboard {
  margin: 0 auto;
  width: 80%;

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 80%;

    .department-item {
      border-left: 3px solid transparent;
      cursor: pointer;
      padding: 0.3em 0 0 0.5em;

      &:hover {
        background: #efefef;
        border-left: 3px solid #507eff;
      }

      .department_tags {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        padding: 0.5em 0.5em 0.5em 0;

        .tags {
          border: 2px solid black;
          border-radius: 5px;
          font-size: 0.8em;
          margin: 0 0.4em 0 0;
          padding: 0.2em 0.4em;

          &:hover {
            background: #5d6267;
            border: 2px solid #5d6267;
            color: white;
          }
        }
      }

      .expand {
        display: flex;
        flex-direction: column;
        padding: 1em 2.5em;
      }
    }
  }
}
