h3 {
  // color: darkgray;
  // padding-left: 1em;

  @media only screen and (min-device-width: 768px) {
    padding-left: 0;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2em 0 0 0;

  .department-item {
    background-color: #fff;
    border-left: 3px solid transparent;

    box-shadow: 0 0 1px 0 rgba(19, 26, 31, 0.12),
      0 1px 2px 0 rgba(19, 26, 31, 0.16);
    cursor: pointer;
    margin-bottom: 1em;
    max-width: 600px;
    // padding: 0.1em 0 0 0.5em;
    padding: 0.5em 0 0.5em 0.8em;

    @media screen and (min-device-width: 768px) {
      border-radius: 3px;
      box-shadow: 0 0 2px 0 rgba(19, 26, 31, 0.12),
        0 2px 4px 0 rgba(19, 26, 31, 0.22);
    }

    &:hover {
      // background: #efefef;
      border-left: 3px solid #507eff;
    }

    .department_tags {
      display: flex;
      flex-direction: row;
      margin-bottom: 1em;
      padding: 0.5em 0.5em 0.5em 0;

      .tags {
        border: 2px solid black;
        border-radius: 5px;
        font-size: 0.8em;
        margin: 0 0.4em 0 0;
        padding: 0.2em 0.4em;

        &:hover {
          background: #5d6267;
          border: 2px solid #5d6267;
          color: white;
        }
      }
    }

    .expand {
      display: flex;
      flex-direction: column;
      // padding: 1em 2.5em;
      padding: 0.3em 1em;
    }
  }
}
