.jobsboard {
  margin: 0 auto;

  @media only screen and (min-device-width: 768px) {
    width: 80%;
  }
  //  and (max-device-width: 1024px)

  .loader {
    display: block;
    margin: 0 auto;
  }

  .error {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  ul {
  }
}
