.jobsboard {
  margin: 0 auto;

  @media only screen and (min-device-width: 768px) {
    width: 80%;
  }

  @media screen and (min-device-width: 1024px) {
    display: flex;
  }

  .loader {
    display: block;
    margin: 0 auto;
    left: 0;
    padding-top: 2em;
    position: absolute;
    right: 0;
  }

  .error {
    display: block;
    margin: 0 auto;
    padding: 2em 0 0 0;
    text-align: center;
    width: 60%;
  }

  .content {
    width: 100%;

    .departments {
      list-style-type: none;
      margin: 0;
      padding: 2em 0 0 0;

      @media screen and (min-device-width: 1024px) {
        width: 100%;
      }
    }

    .pagination {
      background: #3f51b5;
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding: 0;

      & li {
        color: #fff;
        cursor: pointer;
        padding: 0.5em;
      }
    }
  }
}
