.jobsboard {
  margin: 0 auto;

  @media only screen and (min-device-width: 768px) {
    width: 80%;
  }

  @media screen and (min-device-width: 1024px) {
    display: flex;
  }

  .loader {
    display: block;
    margin: 0 auto;
    left: 0;
    padding-top: 2em;
    position: absolute;
    right: 0;
  }

  .error {
    display: block;
    margin: 0 auto;
    padding: 2em 0 0 0;
    text-align: center;
    width: 60%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 2em 0 0 0;

    @media screen and (min-device-width: 1024px) {
      width: 100%;
    }
  }
}
